parameters:
    database:
        driver: mysqli

        host: mariadb103.websupport.sk
        port: 3313
        database: inteles
        username: inteles
        password: Lx926vb@18
        charset: utf8

    jwt:
        secret_token: etcvbnpiondsfuiayubfnwaopfjnsduisydfmsdop

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	connection:
		factory: DibiConnection
		arguments: [%database%]

	UserModel:
		factory: App\Model\UserModel

	LogModel:
		factory: App\Model\LogModel


